<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>view 03 - School</title>
</head>
<body>
    <div ng-controller="schoolController">
        <h2>School Projects</h2>
            <form>
                <input type="text" placeholder="Project" ng-model="project" />
                <input type="text" placeholder="Date" ng-model="dueDate" />
                <input type="submit" value="Add Activity" ng-click="addActivity" />
                <input type="button" value="Clear" ng-click="resetForm" />
            </form>
        </div>

        <!-- display items -->

        <table>
            <tr>
                <th>Activity</th>
                <th>Date</th>
            </tr>

            <tr ng-repeat="pro in projectArray | orderBy : 'date' track ny $id($index)">
                <td>{{ project }}</td>
                <td>{{ dueDate }}</td>
                <td><input type="button" value="Delete" ng-click="deleteActivity" /></td>
            </tr>
        </table>
    </div>

</body>
</html>