<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Project 02</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/DataService.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />


</head>

    <body ng-app="MyApp" ng-controller="NewController">

    <header>
        <h1>Directory</h1>
    </header>

        <div id="form">
            <h3>New Employee</h3>

            <form>
                <div class="formFields">
                    <label>Employee:</label>
                    <input type="text" name="name" ng-model="newAdds.name">
                </div>

                <div class="formFields">
                    <label>Address:</label>
                    <input type="text" name="street" ng-model="newAdds.street">
                </div>

                <div class="formFields">
                    <label>City:</label>
                    <input type="text" name="city" ng-model="newAdds.city">
                </div>

                <div class="formFields">
                    <label>State:</label>
                    <input type="text" name="state" ng-model="newAdds.state">
                </div>

                <div class="formFields">
                    <label>Zip:</label>
                    <input type="text" name="zip" ng-model="newAdds.zip">
                </div>

                <button id="save" ng-click="addNewAdds()">Add Employee</button>

            </form>

        </div>

        <div ng-repeat="adds in addresses track by $index">

        <div>
            <button type="button" ng-click="removeAdds($index)">$times;</button>
            <strong>{{adds.name}}</strong>
        </div>

        <div>
            {{adds.address}}<br />
            {{adds.city}}, {{adds.state}} {{adds.zip}}
        </div>

        </div>

    </body>
</html>