
<div id="form" ng-controller="hannahController">
    <h3>Hannah's Schedule</h3>

    <form>
        <div class="formFields">
            <label>Activity:</label>
            <input class="input" type="text" name="activity" ng-model="newWork">
        </div>

        <div class="formFields">
            <label>Date:</label>
            <input class="input" type="text" name="date" ng-model="newDay">
        </div>

        <div class="formFields">
            <label>Time:</label>
            <input class="input" type="text" name="time" ng-model="newHours">
        </div>
                          <!--//NEEDS TO MATCH APP.JS PAGE-->
        <button id="save" ng-click="addHannah()">Add Activity</button>

    </form>

</div>

<div>

    <table>
        <tr>
            <th>Activity</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
<!--THIS NEEDS TO BE HANNAHARRAY -->
        <tr ng-repeat="hannah in hannahArray track by $id($index)">
            <td>{{ newWork }}</td>
            <td>{{ newDay }}</td>
            <td>{{ newHours }}</td>
            <td>
                <button type="button" ng-click="removeHannah(hannah)">Remove</button>
      <!--REMOVE THIS  <strong>{{ newWork }}</strong>-->
            </td>
        </tr> <!--Added this-->
</table> <!--Closed table-->

</div>
